@charset "UTF-8";

body {
	font-family: "Prompt", sans-serif;
	background-color: #eee;
	background-image: url(../images/bg.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	padding: 0;
}

.navWrapper {
	width: 100%;
	min-height: 60px;
	background-color: #fff;
	/* border-top: 10px solid #595959; */
	border-top: 10px solid #3151a4;
}

.nav {
	max-width: 1000px;	
	margin: auto;
	display: grid;
	grid-template-columns: 50% 50%;
	
}

.logo {
	padding-top: 20px;
	padding-bottom: 10px;
}

.slogan {
	padding-top: 35px;
	text-align: right;
}

#nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#nav li {
  display: inline;
}

#nav a {
	border: none;
	outline: none;
	text-decoration: none;
	color: #555;
	font-size: 17px;
	padding: 15px;
}

#nav li:hover {
	color: #555;
}

.burger-icon {
	display: none;
}

.logoBar {
	height: 48px;
	width: 100%;
	margin-top: 15px;
	background: #253285 url('../images/headerbg2.png') repeat-x;
}

.logoName {
	padding: 0;
	margin: 0;
	text-decoration: none;
	color: #000;
	font-size: 32px;
	font-weight: bold;
}


@media screen and (max-width: 1100px){
	.nav {
		grid-template-columns: 100%;
		text-align: center;
	}

	.slogan {
		padding-top: 30px;
		text-align: center;
	}

}

@media screen and (max-width: 800px){

	#nav ul {
		padding-bottom: 30px;
	}

	#nav ul li {
		display: block;
		width: 100%;
	}

	#nav li {
		padding-top: 20px;
	}
	
	.fa-bars {
		padding-top: 15px;
	}

	.logoBar {
		display: none;
		visibility: hidden;
	}
	
	.burger-icon {
		display: inline-block;
		color: #fff;
		width: 96%;
		padding-left: 2%;
		padding-right: 2%;
		height: 48px;
		background: #253285 url('../images/headerbg2.png') repeat-x;
	}
	
	.burger-icon:hover {
		cursor: pointer;
	}
	
	.mobile-show {
		display: block;
	}

	.mobile-hide {
		display: none;
	}

}